<!DOCTYPE html>
<html> lang="es">
    <head>
        #Se ajusta dependiendo de la pantalla
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        #Sirve para que se pueda poner ñ y acentos
        <meta charset="ISO-8859-1">
        <title>Parámetros/title>
    </head>
    <body>
        #Muestra el titulo de la pagina
        <h1>Titulo</h1>
        #Este es el texto o descripcion de la pagina
        <p>Descripcion</p>
        #Encla para direccionar
        <a href="/">Index</a>
    </body>
</html>